:root{
  --main_txt_size: 14px;

  --div: 300px;

  --margins: 20px;
  --gap: 10px;
  --5px: 5px;
  --15px: calc(var(--5px)*3);
  --h: 30px;
  --h2: 40px;
  
  /* --left-col: 120px; */
  /* --main_txt_size: clamp(12px, 1vw, 18px); */
  /* --div: clamp(250px, 15vw, 340px); */
  /* --left-col: clamp(80px, 5vw, 120px); */
}


